.jetbrains-mono {
  font-family: "JetBrains Mono", sans-serif;
}

.clash-font {
  font-family: ClashBold, cursive;
}

.clash-medium-font {
  font-family: ClashMedium, sans-serif;
}


@font-face {
  font-family: 'ClashBold';
  src: url('fonts/clash/ClashDisplay-Bold.woff2') format('woff2'),
  url('fonts/clash/ClashDisplay-Bold.woff') format('woff'),
  url('fonts/clash/ClashDisplay-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'ClashMedium';
  src: url('fonts/clash/ClashDisplay-Medium.woff2') format('woff2'),
  url('fonts/clash/ClashDisplay-Medium.woff') format('woff'),
  url('fonts/clash/ClashDisplay-Medium.ttf') format('truetype');
}